includes:
    - vendor/jangregor/phpstan-prophecy/extension.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 5
    paths:
        - src
    ignoreErrors:
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::#'
    tipsOfTheDay: false
    tmpDir: phpstan/cache
